PORT=5000
MONGODB_URI=mongodb://mongodb:27017/Atman
JWT_SECRET=your_placeholder_secret_change_me
JWT_EXPIRATION="15m"
REFRESH_EXPIRATION="7d" 
SALT_ROUNDS=10
NODE_ENV = "development"
CLIENT_URL=http://localhost:5173

OTP_EXPIRATION=3600000
EMAIL_HOST=smtp.gmail.com
PORT=587
EMIAL_SECURE=false
EMAIL_USER=me@gmail.com
PASSWORD_USER=pass pass pass pass

GEMINI_API_KEY=your_google_api_key