@import "tailwindcss";

:root {
  /* backgrounds */
  --bg-dark: hsl(45, 31%, 95%);
  --bg: hsl(36, 33%, 97%);
  --bg-light: hsl(40, 26%, 91%);
  --bg-light: hsl(40, 26%, 91%);
  /* text */
  --text: hsl(30, 11%, 15%);
  --text-light: hsl(31, 8%, 50%);

  /* buttons */
  --primary: hsl(40, 80%, 52%);
  --primary-light: hsl(40, 80%, 57%);

  --secondary: hsl(30, 11%, 15%);
  --secondary-light: hsl(30, 11%, 25%);

  --ghostTinted: transperent;
  --ghostTinted-light: hsl(40, 80%, 90%);
}
