@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
:root {
  /* backgrounds */
  --bg-dark: hsl(40, 26%, 91%);
  --bg: hsl(45, 31%, 95%);
  --bg-light: hsl(36, 33%, 97%);
  /* backgrounds items */
  --item-light : hsl(45, 31%, 93%);
  /* text */
  --text: hsl(30, 11%, 18%);
  --text-light: hsl(31, 8%, 50%);

  /* buttons */
  --primary: hsl(40, 80%, 52%);
  --primary-light: hsl(40, 80%, 57%);

  --secondary: hsl(30, 11%, 15%);
  --secondary-light: hsl(30, 11%, 25%);

  --ghostTinted: transperent;
  --ghostTinted-light: hsl(40, 80%, 90%);

  /* fonts */
  --font-serif: "Lora", serif;
  --font-sans: "Inter", sans-serif;
}
html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-light);
}
